body {
    background-image: url(imgs/sparse\ stars.png);
    background-repeat: repeat;

    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 100px auto;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 75%;
}

header, nav, main, footer, .subtitulo {
    border: #DD9071 5px solid;
    border-radius: 5px;
    background-color: white;
}

header {
    height: 150px;

    background-image: url(imgs/backtexture\ cat.png);
    background-repeat: repeat;

    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.subtitulo {
    background-color: #FFDE59;
    padding: 10px;

    text-align: center;
    letter-spacing: 5px;

    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

nav {
    padding: 10px;

    grid-row: 3 / 4;
    grid-column: 1 / 2;

    height:  max-content;
}

main {
    padding: 10px;

    grid-row: 3 / 4;
    grid-column: 2 / 3;
    
    max-height: max-content;
}

footer {
    padding: 10px;
    height: 150px;

    grid-row: 4 / 5;
    grid-column: 1 / 3;
}

#logo {
    width: 50%;
    margin-top: -34px;
    margin-left: 20px;
}

.titulo-big {
    font-family: "cooper black";
    background-color: #7ED957;
    text-align: center;
    margin: 0;

    text-shadow:
    2px 2px 0 #ff7eb9;
}

.titulo-medium {
    font-family: "cooper black";
    background-color: #38B6FF;
    text-align: center;
    margin: 0;
}