body {
    background-image: url(imgs/backgrounds/sparse\ stars.png);
    background-repeat: repeat;

    font-family: Arial, Helvetica, sans-serif;
}

/* COMPONENTES DO LAYOUT -------------------------------------------------------------------------------------------------------- */

.container {
    max-width: 1000px;
    margin: 100px auto;

    display: grid;
    /* Sistema legal de fazer o layout do site, voce conta as bordas
    e pra cada area insere grid- column ou row e edita as posições */
    grid-gap: 10px;
    grid-template-columns: 25% 75%;
}

header, nav, main, footer, .subtitulo {
    border: #DD9071 5px solid;
    border-radius: 5px;
    background-color: white;
}

header {
    height: 150px;

    background-image: url(imgs/backgrounds/backtexture\ cat.png);
    background-repeat: repeat;

    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

nav {
    padding: 10px;

    grid-row: 3 / 4;
    grid-column: 1 / 2;

    height:  max-content;
}

main {
    padding: 10px;

    grid-row: 3 / 4;
    grid-column: 2 / 3;
    
    max-height: max-content;
}

footer {

    background-image: url(imgs/backgrounds/background\ cat\ dark.png);
    background-repeat: repeat;

    margin-top: 30px;

    padding: 10px;

    grid-row: 4 / 5;
    grid-column: 1 / 3;

    grid-auto-columns:auto max-content max-content max-content;
    display: grid;
    grid-gap: 10px;

}

/* Similar ao de atualizações so que simplificado*/
#info-board {
    height:  max-content;

    margin-top: auto;

    font-family: monospace;

    background-color: #ffffff;
    padding: 15px;
    
    /* box-shadow: 0px 2px 7px #67382b; */
    box-shadow: 5px 5px 0 #ff7eb9;

    border: #ff7eb9 3px solid;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* PARTE SOCIAL DO FOOTER -------------------------------------------------------------------------------------------------------- */


.social-media-card {
    width: 205px;

    border: #ffde59 5px solid;

    
    padding: 8px;

    /* box-shadow: 0px 2px 7px #67382b; */
    box-shadow: 5px 5px 0 #ff7eb9;

    box-sizing: border-box; /* Isso faz que o calculo considere o padding ao width e a border e fique uma soma muito louca
    resumindo, faz tudo ficar mais certinho com a largura e altura!*/

    background-color: whitesmoke;

    grid-row: 1 / 2;
}

.desc-social {
    background-color: white;
    border: 3px  outset;

    margin: 8px 0 0 0; /*tira a margem padrão ficando coladinho as coisa*/

    padding: 15px 5px;
}

.social-small-title {
    margin: 0;
    padding: 2px 0px;
}

.image-social{
    width: 100%;
    height: auto;

    display: block;
    margin: 0px 0px;

    box-sizing: border-box; /* Isso faz que o calculo considere o padding ao width e a border e fique uma soma muito louca
    resumindo, faz tudo ficar mais certinho com a largura e altura!*/

    border: 3px inset #c8c2b5;
}

.titulo-social {
    font-family: "cooper black";
    background-color: #ff7eb9;
    text-align: center;
    margin: 0;

    border: #ff7eb9 3px;
    border-style: outset;
}

.Github-card {
    grid-column: 2 / 3;
}
.Twitter-card {
    grid-column: 3 / 4;
}
.Linkedin-card {
    grid-column: 4 / 5;
}

/* TITULOS ------------------------------------------------------------------------------------------------------------------------------- */

.titulo-big {
    font-family: "cooper black";
    background-color: #7ED957;
    text-align: center;
    margin: 0;

    text-shadow:
    3px 3px 0 #ff7eb9;
}

.titulo-medium {
    font-family: "cooper black";
    background-color: #38B6FF;
    text-align: center;
    margin: 0;
}

.subtitulo {
    background-color: #FFDE59;
    padding: 10px;

    text-align: center;
    letter-spacing: 5px;

    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

/* LISTAS -------------------------------------------------------------------------------------------------------------------------- */

ul {
    list-style-type: none;
    font-family: monospace;
    font-size: large;
    padding-left: 0;
}

li::before {
  content: ">";
  margin-right: 8px;
  /* EXPLICAÇÃO DISSO AI: Basicamente, o "::" cria um pseudoelemento, tipo uma coisa especifica do elemento,
  diferente do ":" que altera um estado especifico do elemento, nesse caso ai,
  ele edita oque vem antes das listas tendeu */
  /* CONTENT: coloca um conteudo */
}

/* QUADRO DE AVISOS ----------------------------------------------------------------------------------------------------------------- */
/* Um pequeno quadrinho no home que vou usar pra colocar as atualizações novas ao site. */

#atulizacoes-board {
    font-family: monospace;

    background-color: #FFDE59;
    max-width: 50%;
    margin: auto;
    padding: 15px;
    margin: 20px auto;
    
    /* box-shadow: 0px 2px 7px #67382b; */
    box-shadow: 5px 5px 0 #ff7eb9;
}

#atulizacoes-board::after {
    content: "...";
    display: block;
    /* Tem q ser block, porque por padrão o ::after é inline, ou seja, 
    nao ocupa a linha inteira logo nao centralzia corretamente! */
    text-align: center;
}

/* OUTROS --------------------------------------------------------------------------------------------------------------------------- */

#logo {
    height: 66px;
    width: auto;
    margin-top: -34px;
    margin-left: 20px;
}
#logo-fim {
    /*Por enquanto ta meio q uma gambiarra meio loca, mas melhor do que antes. O erro maior é q o footer tem padding, e o
    header nao, então o ideal é dar um jeito nisso. Botando padding no header ou algo assim.*/

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    height: 66px;
    width: auto;
    margin-top: -44px;
    margin-left: 10px;
}

/* POLAROIDS ----------------------------------------------------------------------------------------------------------------- */
.polaroid {
    width: 175px;

    padding: 10px;
    margin: 10px auto;
    background-color: white;

    /* box-shadow: 0px 2px 7px #67382b; */
    box-shadow: 5px 5px 0 #ff7eb9;
    border: #ff7eb9 3px solid;
}

.polaroid > img {
    width: 100%;
}
.polaroid > p {
    font-family: monospace;
    text-align: center;
}