body {
    background-color: #e2a288;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    width: 800px;
    padding: 20px;

    border-radius: 20px;
    border-style: solid;
    border-width: medium;
    border-color: #339644;

    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
}

.header {
    background-color:white;
    text-align: center;
}

.navbar {
    color: white;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 20px;

    background-color: #339644;
    margin: 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    min-height: 400px;
    width: auto;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: #339644;
    height:  100px;

    border-radius: 10px;
    width: auto;
}

.textinho-sub {
    margin: 0;
    color: #e2a288;
    letter-spacing: 5px;
}

#logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}