body {
    background-color: dimgray;
    margin: 0;
}

.container {
    background-color: white;
    width: 800px;

    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color:white;
    text-align: center;
}

.navbar {
    color: white;
    text-align: center;

    background-color: black;
    padding: 5px;
    margin: 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.content {
    min-height: 400px;
    width: auto;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: grey;
    height:  100px;
    width: auto;
}

.textinho-sub {
    margin: 0;
    color: gray;
    letter-spacing: 5px;
}

#logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}