body {
    background-image: url(imgs/sparse\ stars.png);
    background-repeat: repeat;

    font-family: Arial, Helvetica, sans-serif;
}

/* COMPONENTES DO LAYOUT -------------------------------------------------------------------------------------------------------- */

.container {
    max-width: 1000px;
    margin: 100px auto;

    display: grid;
    /* Sistema legal de fazer o layout do site, voce conta as bordas
    e pra cada area insere grid- column ou row e edita as posições */
    grid-gap: 10px;
    grid-template-columns: 25% 75%;
}

header, nav, main, footer, .subtitulo {
    border: #DD9071 5px solid;
    border-radius: 5px;
    background-color: white;
}

header {
    height: 150px;

    background-image: url(imgs/backtexture\ cat.png);
    background-repeat: repeat;

    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

nav {
    padding: 10px;

    grid-row: 3 / 4;
    grid-column: 1 / 2;

    height:  max-content;
}

main {
    padding: 10px;

    grid-row: 3 / 4;
    grid-column: 2 / 3;
    
    max-height: max-content;
}

footer {

    background-image: url(imgs/background\ cat\ dark.png);
    background-repeat: repeat;

    margin-top: 30px;

    padding: 10px;

    grid-row: 4 / 5;
    grid-column: 1 / 3;

    display: grid;
    grid-gap: 10px;

}

/* Similar ao de atualizações so que simplificado*/
#info-board {
    height:  max-content;

    font-family: monospace;

    background-color: #ffffff;
    padding: 15px;
    
    box-shadow: 0px 2px 7px #67382b;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.social-media-card {
    height: 150px;

    border: #DD9071 5px solid;
    border-radius: 5px;
    padding: 15px;

    background-color: white;
    grid-row: 1 / 2;
}

.Github-card {
    grid-column: 2 / 3;
}
.Twitter-card {
    grid-column: 3 / 4;
}
.Linkedin-card {
    grid-column: 4 / 5;
}

/* TITULOS ------------------------------------------------------------------------------------------------------------------------------- */

.titulo-big {
    font-family: "cooper black";
    background-color: #7ED957;
    text-align: center;
    margin: 0;

    text-shadow:
    3px 3px 0 #ff7eb9;
}

.titulo-medium {
    font-family: "cooper black";
    background-color: #38B6FF;
    text-align: center;
    margin: 0;
}

.titulo-social {
    font-family: "cooper black";
    background-color: #ff7eb9;
    text-align: center;
    margin: 0;
}

.subtitulo {
    background-color: #FFDE59;
    padding: 10px;

    text-align: center;
    letter-spacing: 5px;

    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

/* LISTAS -------------------------------------------------------------------------------------------------------------------------- */

ul {
    list-style-type: none;
    padding-left: 0;
}

li::before {
  content: ">";
  margin-right: 8px;
  /* EXPLICAÇÃO DISSO AI: Basicamente, o "::" cria um pseudoelemento, tipo uma coisa especifica do elemento,
  diferente do ":" que altera um estado especifico do elemento, nesse caso ai,
  ele edita oque vem antes das listas tendeu */
  /* CONTENT: coloca um conteudo */
}

/* QUADRO DE AVISOS ----------------------------------------------------------------------------------------------------------------- */
/* Um pequeno quadrinho no home que vou usar pra colocar as atualizações novas ao site. */

#atulizacoes-board {
    font-family: monospace;

    background-color: #FFDE59;
    max-width: 50%;
    margin: auto;
    padding: 15px;
    margin: 20px auto;
    
    box-shadow: 0px 2px 7px #67382b;
}

#atulizacoes-board::after {
    content: "...";
    display: block;
    /* Tem q ser block, porque por padrão o ::after é inline, ou seja, 
    nao ocupa a linha inteira logo nao centralzia corretamente! */
    text-align: center;
}

/* OUTROS --------------------------------------------------------------------------------------------------------------------------- */

#logo {
    width: 50%;
    margin-top: -34px;
    margin-left: 20px;
}